/* Estilos para la barra de navegación */
.navbar-custom {
    background-color: rgb(255, 198, 10);
  }

/* Estilos para los botones de acción */
.btn-custom {
    margin: 0 5px;
  }
  
  .btn-custom:hover {
    transform: scale(1.1);
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  